body,div,padding,input,p,img{
    margin:0;
    padding:0;
    border:0;
}

body,html{
    height:100%;
    width:100%;
    background:#444;
    color:#DDD;
	font: 1em Consolas, monaco, monospace;
}

a:link, a:visited{
    color:#DDD;
}

div#header{
	margin-top:1%;
}

div#footer{
	text-align: center;
}

div.topic_header{
	color: #7CFC11;
	margin-top:2%;
}

div.body_text{
	margin-left:5%;
}

/* attribution appreciated, not required */
