body,div,padding,input,p,img{
    margin:0;
    padding:0;
    border:0;
}

body,html{
    height:100%;
    width:100%;
    background:#F0EAD8;
}

@font-face {
font-family: 'mutlu';
src: local('mutlu'), src: url('../fonts/mutlu/mutlu.eot');
src: url('../fonts/mutlu/mutlu.eot?iefix') format('eot'),
url('../fonts/mutlu/mutlu.woff') format('woff'),
url('../fonts/mutlu/mutlu.ttf') format('truetype'),
url('../fonts/mutlu/mutlu.svg#svgFontName') format('svg');
}

@font-face {
font-family: 'plainblack';
src: local('plainblack'), src: url('../fonts/plainblack/plainblack.eot');
src: url('../fonts/plainblack/plainblack.eot?iefix') format('eot'),
url('../fonts/plainblack/plainblack.woff') format('woff'),
url('../fonts/plainblack/plainblack.ttf') format('truetype'),
url('../fonts/plainblack/plainblack.svg#svgFontName') format('svg');
}

#content{
    min-width:500px;
}

div#titleRegion{
    text-align:center;
    font:12em mutlu, plainblack, serif;
    color:#C4B482;
    margin: 0 auto;
    text-align:center;
}

div#titleRegionTwo{
    text-align:center;
    font:2.3em Garamond, serif;
    letter-spacing:.5em;
    color:#2E0854;
    margin: 0 auto;
    text-align:center;
    min-width:16em;
}
div#titleLocation{
    text-align:center;
    font:2em Garamond, Times New Roman, serif;
    letter-spacing:.25em;
    color:#114;
    margin:0 auto;
    text-align:center;
}

div#linkText{
    font:0.95em Garamond, serif;
    margin:0 auto;
    text-align:center;
}

a:link, a:visited{
    color:#000;
}
